<%- include('../partials/header') %>

<table id="list">
    <thead>
      <tr>
        <th>Area</th>
        <th>Enemies</th>

      </tr>
    </thead>
    <tbody>
      <% locations.forEach(function(l) { %>
        <tr>
          <td>
            <%= l.area %>
          </td>
          <td>
            <%= l.enemies %>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>



<%- include('../partials/footer') %>