<%- include('../partials/header') %>

<form id="new-form" action="/locations" method="POST">

    <label>Area:</label>

    <select name="area">
        <option value="Customs">Customs</option>
        <option value="Factory">Factory</option>
        <option value="Interchange">Interchange</option>
        <option value="LightHouse">LightHouse</option>
        <option value="Reserve">Reserve</option>
        <option value="Shoreline">Shoreline</option>
        <option value="TheLab">TheLab</option>
        <option value="Woods">Woods</option>
        <input type="submit" value="Add Location">
    </select>
</form>







<%- include('../partials/footer') %>