<%- include('../partials/header') %>

<form id="new-form" action="/locations" method="POST">

    <label>Area:</label>

    <select name="area">
        <option value="Customs">Customs</option>
        <option value="Woods">Woods</option>
        <input type="submit" value="Add Location">
    </select>
</form>




<%- include('../partials/footer') %>