<%- include('../partials/header') %>

<form action="/locations/<%= flightNo %>/experiences" method="POST">
    <label>kills:</label>
    <input type="text" name="kills">
    <button type="number" type="submit">Add</button>
</form>

<%- include('../partials/footer') %>