<%- include('../partials/header') %>

<form action="/locations/<%= locationNo %>/experiences" method="POST">
    <label for="travel">KM Traveled:</label>
    <input type="text" name="travel">
    <label for="damageBody">DamageDealtToBody:</label>
    <input type="text" name="damageBody">
    <label for="damageArmor">DamageDealtToArmor:</label>
    <input type="text" name="damageArmor">
    <label for="kill">TotalKills:</label>
    <input type="text" name="kill">
    <label for="ammor">AmmoUsed:</label>
    <input type="text" name="ammo">
    <label for="hitCount">BulletsHit:</label>
    <input type="text" name="hitCount">
    <label for="hpHealed">TotalHealthHealed:</label>
    <input type="text" name="hpHealed">
    <label for="hpUsed">TotalMedicineUsed:</label>
    <input type="text" name="hpUsed">
    <button type="number" type="submit">Add</button>
</form>

<%- include('../partials/footer') %>