<%- include('../partials/header') %>

<form action="/locations/<%= locationNo %>/experiences" method="POST">
    <label for="kill">kills:</label>
    <input type="text" name="kill">
    <button type="number" type="submit">Add</button>
</form>

<%- include('../partials/footer') %>