<%- include('./partials/header') %>

  <!DOCTYPE html>
  <html>

  <head>
    <title>TarkovExperience</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1 id="title">TarkovExperience</h1>
    <div class="home">  
    <p>
        Welcome to The Tarkov Experience
      </p>
    </div>

<br></br>

<div id="homeTwo">
  <% if (user) { %>  
    <p>
      Escape from Tarkov is a multiplayer first-person shooter video game in development by Battlestate Games. 
      The game is set in the fictional Norvinsk region, where a war is taking place between two private military companies 
      ("USEC" and the "BEAR"). Players join matches called "raids" in which they fight other players 
      for loot and aim to survive and escape; dying results in the loss of all items the player used and found during that raid with few exceptions.
    </p>
<% } else { %>
  <p>
    Don't worry about the MACHINE. It won't use your information for monetary purposes.
  </p>
<% } %>   


</div>





  </body>

  </html>

  <%- include('./partials/footer') %>