<%- include('./partials/header') %>

  <!DOCTYPE html>
  <html>

  <head>
    <title>TarkovExperience</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1>TarkovExperience</h1>
    <p>Welcome to The Tarkov Experience</p>
  </body>

  </html>

  <%- include('./partials/footer') %>