body {
  font: 14px 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
  margin: 0;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #B8C0C2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 750px 0 750px;
}

nav > img {
  width: 25px;
  object-fit: contain;
  margin-right: auto;
}


body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}

nav > a:hover:not(.active) {
  color: red;
  border: dotted 1px red;
  
}

nav > a.active {
  color: white;
  cursor: default;
}

a {
  color: #00B7FF;
}


#title {
  text-align: center;
  background-color: white;
  opacity: 0.8;
  font-size: 42px;
}


td, th {
  border: 1px solid #999;
  padding: 1.5rem;
  text-align: center;
}




  #show-page {
    display: flex;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    font-weight: bold;
    font-size: 22px;
    background-color: white;
    opacity: 0.8;
    border: dotted 1px black
  }

  #show-page div:nth-child(even) {
    font-size: 17px;
  }
  

#list td:nth-child(1),
#list td:nth-child(2), 
#list td:nth-child(3),
#list td:nth-child(4) {
  min-width: 150px;
  text-align: center;
}

#list {
  padding: 30px;
  font-size: 14px;
  justify-content: center;
  background-color: white;
  opacity: 0.8;
  border: dotted 1px black
}

#list a {
  border-radius: 3px;
  padding: 20px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  color: red;
}

#new-form {
  padding: 35px;
  display: grid;
  justify-content: center;
  grid-gap: 40px;
  grid-template-columns: repeat(2, minmax(auto, 10rem));
  font-size: 15px;
  border-radius: 5px;
  background-color: white;
  opacity: 0.8;
  border: dotted 1px black;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 8rem;
  margin-left: auto;
}

.home {
  text-align: center;
  background-color: white;
  opacity: 0.8;
  font-weight: bold;
}

#homeTwo {
  text-align: center;
  background-color: white;
  opacity: 0.8;
  padding-left: 550px;
  padding-right: 550px;
  font-weight: bold;
}


  
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
}

.login img {
  height: 30px;
}

.experience-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience-user img {
  border-radius: 50%;
  height: 40px;
}

#experienceBox {
  padding: 20px;
  justify-content: center;
  background-color: white;
  opacity: 0.8;
  border: dotted 1px black
}

#newExp {
  justify-self: center;
  padding: 10px 0 0 0 ;
}

html {
  background: url(https://i.imgur.com/pONV6Bk.jpeg) no-repeat center center fixed;
  background-size: cover;
}

#return {
  justify-self: center;
  padding: 0 0 10px 0;
}

#links {
  text-align: center;
  background-color: white;
  opacity: 0.8;
  padding: 20px;
  word-spacing: 150px;
}

#links a:hover {
  color: red;
}